AWS_REGION=ap-southeast-1
AWS_DEFAULT_REGION=ap-southeast-1
APP_AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DYNAMODB_TABLE_NAME=RescueRequestTable
IDEMPOTENCY_TABLE_NAME=IdempotencyTable
INCIDENT_CATALOG_TABLE_NAME=IncidentCatalogTable
SNS_TOPIC_ARN=arn:aws:sns:ap-southeast-1:000000000000:rescue-request-events-v1
PRIORITIZATION_COMMANDS_TOPIC_ARN=arn:aws:sns:ap-southeast-1:000000000000:rescue-prioritization-commands-v1
PRIORITIZATION_REEVALUATE_TOPIC_ARN=arn:aws:sns:ap-southeast-1:000000000000:rescue-prioritization-updated-v1
INCIDENT_SYNC_SECRET_ID=rescue-request-service/incident-tracking/local
INCIDENT_SYNC_HTTP_TIMEOUT_SECONDS=30
LOG_LEVEL=INFO
STAGE=local
DYNAMODB_ENDPOINT=http://localhost:4566
